<label>Name</label>
<!-- name is how the server gets the data from the object -->
<!-- when we get it back from server, we will be able to call body.name -->

<!-- "=" wll help to output the content from author.name to the page as HTML -->
<input type="text" name="name" value="<%= author.name%>"/>
